name: Build-Push-Deploy
on:
  push:
    branches: [ main ]  
jobs:
  build_push_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}  

      - name: Build Docker image
        run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/your-image-name:latest .
      - name: Push Docker image to Docker Hub
        run: docker push ${{secrets.DOCKERHUB_USERNAME}}/your-image-name:latest
      - name: Deploy container to EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker rm -f javaapp || true
            docker pull ${{secrets.DOCKERHUB_USERNAME}}/java-docker-app:latest
            docker run -d -p 8080:8080 --name javaapp ${{secrets.DOCKER_USERNAME}}/java-docker-app:latest
            docker ps